# Dependencies
node_modules/
__pycache__/
*.pyc
venv/
.venv/

# Environment
.env
*.local

# Build
.next/
dist/
out/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Database
*.db
*.sqlite3

# Secrets
*.prod.yml
secret*.yml
!secret.yml.example

#Extras
stitch_chef_qwen_minimalist_ui/
